<div class="header chat-list-header">
  <div class="avatar" (click)="showAvatarClicked()">Click</div>
  <div class="header-options">
    <md-icon>home</md-icon>
  </div>
</div>
<div class="chat-list">
  <single-chat class="chat" (showContactProfile)="contactAvatarClicked($event)"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
</div>
