.header {
  height: 70px;
  width: 100%;
  background-color: #F08080;
}

.chat-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  padding: 10px;
  border-right: 1px solid #ff9b9b;
}

.chat-list {
  min-width: 250px;
  background-color: #dea89f;
  flex: 1;
  overflow-y: scroll;
}

.chat{
  display: block;
  width: 100%;
  background-color: #cacaca;
  border-bottom: 1px solid #dddddd;
}

.chat-list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.chat-list::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.chat-list::-webkit-scrollbar-thumb
{
  background-color: #bbb;
}

.avatar{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-options{
color: #bbbbbb;
}

