.chat-container{
  margin: 0;
  padding: 10px;
  display: flex;
}
.avatar{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #BBBBBB;
  cursor: pointer;
}

.chat-summary{
  background-color: #00bfa5;
  flex: 1;
}

.chat-title{

}
.chat-message{

}
