<div class="header chat-window-header">
  <single-chat class="header-chat"></single-chat>
  <div class="header-options" (click)="btnOptionsClicked()">
    <md-icon>menu</md-icon>
  </div>
</div>
<div class="chat-message-container">
  <simple-msg [isSent]="true" [message]="'Hi Hello There How are you?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Display checkbox on mouse over'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Delete notification after 10min.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Show Desktop notification if browser tab is in active.Update unread count..Display checkbox on mouse over'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Update unread count.'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Hi Hello There \nHow are you?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Display checkbox on mouse over'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Delete notification after 10min.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Show Desktop notification if browser tab is in active'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Update unread count.'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Hi Hello There How are you?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Display checkbox on mouse over'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Show Desktop notification if browser tab is in active.Update unread count..Display checkbox on mouse over.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Show Desktop notification if browser tab is in active'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Update unread count.'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Hi Hello There How are you?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Display checkbox on mouse over'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Delete notification after 10min.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Show Desktop notification if browser tab is in active'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Update unread count.'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Hi Hello There How are you?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Display checkbox on mouse over'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Delete notification after 10min.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Show Desktop notification if browser tab is in active'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Update unread count.'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Hi Hello There How are you?'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Display checkbox on mouse over'"></simple-msg>
  <simple-msg [isSent]="false" [message]="'Delete notification after 10min.'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Show Desktop notification if browser tab is in active'"></simple-msg>
  <simple-msg [isSent]="true" [message]="'Update unread count.'"></simple-msg>
</div>
